<div class="settings-container">
  <!-- Filter Column Selection -->
  <div class="filter-column-container">
    <label>Filter by:</label>
    <mat-radio-group [(ngModel)]="filterColumn">
      <mat-radio-button value="input_id">Input ID</mat-radio-button>
      <mat-radio-button value="date">Date</mat-radio-button>
      <mat-radio-button value="concept">Concept</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Filter Input -->
  <div class="filter-input-container">
    <input
      type="text"
      placeholder="Filter items"
      [(ngModel)]="filterValue"
      (input)="applyFilter()"
      class="filter-input"
    />
    <mat-icon>search</mat-icon>
  </div>
</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <input type="checkbox" (change)="masterToggle()"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
        </th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox" (click)="$event.stopPropagation()"
                (change)="selection.toggle(row)"
                [checked]="selection.isSelected(row)">
        </td>
      </ng-container>

      <!-- Input ID Column -->
      <ng-container matColumnDef="input_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Input ID</th>
        <td mat-cell *matCellDef="let element">{{ element.input_id }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.date }}</span>
        </td>
      </ng-container>

      <!-- Form Column -->
      <ng-container matColumnDef="form">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.form }}</span>
        </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.amount }}</span>
        </td>
      </ng-container>

      <!-- Concept Column -->
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Concept</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.concept }}</span>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.description }}</span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="post-edit">
            <mat-icon role="button" (click)="openOutcomeDialog(element)" *ngIf="!element.isEditing" class="action-icon">edit</mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
