<div class="table-tab-container">
  <!-- Tab container -->
  <mat-tab-group>
    <!-- Tab for Income records -->
    <mat-tab label="Income Records">
      <div class="settings-container">
        <!-- Filter Input -->
        <div class="filter-input-container">
          <input
            type="text"
            placeholder="Filter items"
            class="filter-input"
          />
          <mat-icon>search</mat-icon>
        </div>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <input type="checkbox" (change)="masterToggle()"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
            </th>
            <td mat-cell *matCellDef="let row">
              <input type="checkbox" (click)="$event.stopPropagation()"
                    (change)="selection.toggle(row)"
                    [checked]="selection.isSelected(row)">
            </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.date }}</span>
              <input class="stylish-date-picker" *ngIf="element.isEditing" type="date" [(ngModel)]="element.date"  class="stylish-input">
            </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.amount }}</span>
              <input *ngIf="element.isEditing"  (input)="limitNumberLength($event, 9)"   maxlength="9" type="number" [(ngModel)]="element.amountIntegerPart" class="stylish-input integer-input" step="01" >
              <span *ngIf="element.isEditing" class="decimal-point" >.</span>
              <input *ngIf="element.isEditing" (input)="limitNumberLength($event, 2)"  maxlength="2" type="number" [(ngModel)]="element.amountDecimalPart" class="stylish-input decimal-input" step="01" >
            </td>
          </ng-container>

          <!-- Form Column -->
          <ng-container matColumnDef="form">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.form }}</span>
              <select *ngIf="element.isEditing" [(ngModel)]="element.form" class="stylish-select">
                <option value="credit">Credit</option>
                <option value="cash">Cash</option>
              </select>
            </td>
          </ng-container>

          <!-- Concept Column -->
          <ng-container matColumnDef="concept">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Concept</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.concept }}</span>
              <input  class="stylish-input" *ngIf="element.isEditing" type="text" [(ngModel)]="element.concept" [attr.maxlength]="maxLengthInputValues.concept">
            </td>
          </ng-container>

          <!-- Tip Amount Column -->
          <ng-container matColumnDef="tipAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip Amount</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.tipAmount }}</span>
              <input *ngIf="element.isEditing"  (input)="limitNumberLength($event, 9)"  maxlength="9"  type="number" [(ngModel)]="element.tipIntegerPart" class="stylish-input integer-input" step="01" >
              <span *ngIf="element.isEditing" class="decimal-point" >.</span>
              <input *ngIf="element.isEditing"  (input)="limitNumberLength($event, 2)"  maxlength="2"  type="number" [(ngModel)]="element.tipDecimalPart" class="stylish-input decimal-input" step="01" >
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.isEditing">{{ element.description }}</span>
              <input  class="stylish-input" *ngIf="element.isEditing" type="text" [(ngModel)]="element.description" [attr.maxlength]="maxLengthInputValues.description">
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </th>
            <td mat-cell *matCellDef="let element">
        
              
              <div class="post-edit">
                <mat-icon role="button" (click)="editRow(element)" *ngIf="!element.isEditing" class="action-icon">edit</mat-icon>
                <mat-icon role="button" (click)="cancelEdit(element)" *ngIf="element.isEditing" class="action-icon">cancel</mat-icon>
                <mat-icon role="button" (click)="saveRow(element)" *ngIf="element.isEditing" class="action-icon">check_circle</mat-icon>
              </div>
              
              
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>
      
    </mat-tab>
  </mat-tab-group>
</div>